div {
  background-color: rgb(29, 29, 238);
  text-align: start;
  width: 500px;
  height: 500px;
  margin: 20px;
  padding-left: 150px;
  font-family: "Comforter Brush", cursive;
  font-size: 40px;
}

/* Selector de clase */
.my-first-class {
  font-size: 50px;
}

.color-white {
  color: white;
}

/* Selector de id*/
#parrafo1 {
  background-color: orange;
}

* {
  margin: 0;
  padding: 0;
}

/* Selector de etiqueta*/
/* section {
  background-color: cornflowerblue;
  width: 100px;
  height: 100px;
} */
